@import "../../main-scss/global.scss";

.sidebar {
  width: $sidebar-width;
  height: 100vh;

  background-color: $primary;
  box-shadow: 5px 0 15px rgba(#050505, .5);

  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-sidebar;

  @include breakpoint($tablet-bp) {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4rem);
    padding-bottom: 1.5rem;
    overflow: auto;

    top: 4rem;

    transform: translateX(-100%);
    transition: transform .2s linear;

    .show-sidebar & {
      transform: translateX(0);
    }
  }
}

.sidebar__header {
  height: 180px;

  background-color: $secondary;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include breakpoint($tablet-bp) {
    height: 10rem;
  }
}

.sidebar__content {
  padding: 0 2rem;

  @include breakpoint($tablet-bp) {
    flex-grow: 1;
  }
}

.sidebar__footer {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}



// ============= Profile ============ //

.profile {
  margin-top: -5rem;

  @include breakpoint($tablet-bp) {
    margin-top: -1rem;
    border-bottom: 1px solid #1c1c1c;
    position: relative;
  }
}

.profile__avatar {
  display: block;
  width: 10rem;
  height: 10rem;
  margin: 0 auto 2rem;
  position: relative; //Чтобы бордер у аватарки не делился при заходе на сайдбар-хеадер

  border: 2px solid $customWhite;
  box-shadow: inset 0 7px 20px rgba($customBlack, .25);
  border-radius: 50%;

  @include breakpoint($tablet-bp) {
    height: 6.5rem;
    width: 6.5rem;
    margin-left: 0;

    position: absolute;
    left: 0;
  }
}

.profile__header {
  margin-bottom: 2rem;

  text-align: center;

  @include breakpoint($tablet-bp) {
    padding-top: 2rem;
    padding-left: 8rem;

    text-align: left;
  }
}

.profile__name {
  font-size: 1.8rem;

  @include breakpoint($tablet-bp) {
    font-size: 1.5rem;
  }
}

.profile__prof {
  font-size: 1.4rem;
  font-weight: 300;
  color: #DEDEDE;

  @include breakpoint($tablet-bp) {
    font-size: 1.2rem;
  }
}

.profile__text {
  padding: 3rem 0;
  margin: 3rem 0;

  font-size: 1.2rem;
  text-align: center;

  border-top: 1px solid #1C1C1C;
  border-bottom: 1px solid #1C1C1C;

  @include breakpoint($tablet-bp) {
    display: none;
  }
}

// ========= End of Profile ======== //



// ============= Social ============ //

.social {
  display: flex;
  justify-content: center;

  @include breakpoint($tablet-bp) {
    display: none;
  }
}

.social__item {
  margin: 0 .75rem;
}

// ============= End of Social ============ //



// =========== Mobile navigation ========== //

.nav {

  &--mobile {
    display: none;
    margin: 3rem 0;
  }

  @include breakpoint($tablet-bp) {
    display: none;

    &--mobile {
      display: block;
    }
  }
}

.nav__list {
  display: flex;

  @include breakpoint($tablet-bp) {
    flex-direction: column;
  }
}

.nav__item {
  position: relative;

  &:hover {
    .nav__link {
      background-color: $customBlue;
      text-decoration: none;
    }

    >.subnav {
      display: block;
    }
  }

  @include breakpoint($tablet-bp) {
    &:hover {
      .nav__link {
        background: none;
      }
    }
  }
}

.nav__link {
  display: block;
  padding: 1.35rem;

  font-size: 1.1rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: $customWhite;
  text-decoration: none;

  transition: background-color .2s linear;

  &.has-subnav {
    padding-right: 3.5rem;
    position: relative;

    &::after {
      content: "";
      display: block;
      margin-top: 2px;

      border-style: solid;
      border-width: 6px 5px 0 5px;
      border-color: $customWhite transparent transparent transparent;

      position: absolute;
      top: 50%;
      right: 1.35rem;
      transform: translateY(-50%)
    }
  }

  @include breakpoint($tablet-bp) {
    padding-left: 0;
    padding-right: 0;

    font-size: 1.6rem;
  }
}

// ========= End Mobile navigation ======== //