$primary: #202020;
$secondary: #121212;
$customWhite: #fff;
$customGray: #bebeb4;
$customBlack: #000;
$customRed: #ED3024;
$customBlue: #3137C9;

$z-index-sidebar: 1000;
$z-index-header: 1000;
$z-index-modal: 1010;

$sidebar-width: 300px;

$tablet-bp: 991px;
$mobile-bp: 575px;